.graph-report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.graph-container {
    width: 100%;
    max-width: 900px;
    height: 600px;
    margin-bottom: 30px;
}

.report-container {
    width: 100%;
    max-width: 600px;
}
.result-container {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.result-box {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 0;
    color: #212529;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}
.message-container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
}

/* Estilos para mensajes de error */
.error-message {
    background-color: rgba(232, 77, 1, 0.73); /* Color de fondo rojo claro */
    color: #ffffff; /* Color del texto rojo oscuro */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.form-row {
            display: flex;
            flex-wrap: wrap;
        }
        .form-group {
            flex: 1;
            min-width: 250px;
            padding: 0 10px;
        }
        .form-container {
            display: flex;
            justify-content: space-between;
        }

