{% extends "base.html" %}

{% block title %}Acerca de{% endblock %}

{% block navbar %}
<a href="/" class="nav-item nav-link">Inicio</a>
<a href="/acercaDe" class="nav-item nav-link active">Acerca de</a>
{% if usuarioCorrecto %}
    <a href="/prediccion" class="nav-item nav-link">Servicios</a>
{% endif %}
<a href="/contacto" class="nav-item nav-link">Contacto</a>
{% endblock %}

<!-- Page Header Start --
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">ACERCA DE NOSOTROS</h1>
        <div class="d-inline-flex mb-lg-5">

            <a href="{{ url_for('principal') }}" class="btn btn-primary "><a class="text-white" >INICIO</a>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">ACERCA DE</p>
        </div>
    </div>
</div>
-- Page Header End -->

{% block titulo %}Acerca de Nosotros{% endblock %}

{% block content %}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Acerca De</h4>
            <h1 class="display-4">PROYECTO INTEGRADOR DE SABERES</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">OBJETIVO DEL PROYECTO</h1>
                <p>Predecir la deserción estudiantil en la carrera de Minas, utilizando diferentes enfoques para tal
                    predicción como lo son estudiantes ingresados en un rango de tiempo</p>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Prediccion estudiantil</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Filtros predicción</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Gráfica de la predicción</h5>
            </div>
            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="../static/img/aboutUS.png"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">¿PARA QUIEN VA DIRIGIDO?</h1>
                <p>El siguiente programa esta dirigo para aquellas personas que desean conocer cuantos estudiantes
                    desertaron de la carrera de Minas considerando varios aspectos, ya sea, el número de estudiantes
                    ingresdos, factores económicos, psicologícos, etc.</p>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Predicción de estudiantes ingresados</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Predicción de factor económico</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Predicción de factor psicológico</h5>

            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}