<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="icon" href="../static/img/456212.png" type="image/png">
    <link rel="stylesheet" href="../static/css/styleLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header>
<a href="/">
    <img src="../static/img/banner.png" alt="Imagen de encabezado">
</a>
</header>
<div class="container">
    <div class="form-content">
        <h1 id="title">CAMBIAR CONTRASEÑA</h1>
        <form action="{{ url_for('actualizar_contrasena') }}" method="post">
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="password" id="contrasena_actual" name="contrasena_actual" required
                           placeholder="CONTRASEÑA ACTUAL"><br>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="nueva_contrasena" name="nueva_contrasena" required
                           placeholder="NUEVA CONTRASEÑA"><br>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required
                           placeholder="CONFIRMAR NUEVA CONTRASEÑA"><br>
                </div>
            </div>

            <div class="btn-field-large">
                <button type="submit">CAMBIAR CONTRASEÑA</button>
            </div>

            <div id="messageContainer" class="message-container">
                {% if error_message %}
                <div class="message error-message">{{ error_message }}</div>
                {% endif %}
                {% if success_message %}
                <div id="successMessage" class="message success-message">{{ success_message }}</div>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var successMessage = document.getElementById("successMessage");

        if (successMessage) {
            setTimeout(function() {
                window.location.href = "{{ url_for('principal') }}";
            }, 2000); // Espera 3 segundos antes de redirigir
        }
    });
</script>
</body>
</html>
