{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block navbar %}
<a href="/" class="nav-item nav-link">Inicio</a>
<a href="/acercaDe" class="nav-item nav-link">Acerca de</a>
{% if usuarioCorrecto %}
<a href="/prediccion" class="nav-item nav-link">Servicios</a>
{% endif %}
<a href="/contacto" class="nav-item nav-link active">Contacto</a>
{% endblock %}

{% block titulo %}Contacto{% endblock %}

{% block content %}
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contáctanos</h4>
            <h1 class="display-4">Medios de comunicación</h1>
        </div>
        <div class="owl-carousel testimonial-carousel mb-5">
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-presentation" src="../static/img/Testimonial-1.jpeg" alt style="height: 200px">
                    <div class="ml-3">
                        <h4>Steven Luna</h4>
                        <i>Diseñador - Analista</i> <br>
                        <a href="https://github.com/StevenLunaG" target="_blank">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                </div>
                <p class="m-0">Analista y diseñador de interfaces, experto en interpretar datos y crear interfaces de
                    usuario
                    atractivas y funcionales. Transforma información compleja en soluciones visuales intuitivas,
                    mejorando la
                    experiencia del usuario y la eficiencia del proyecto.</p>
                <ion-icon name="mail-sharp"></ion-icon> <i><p><u>steven.luna@unl.edu.ec</u></p></i>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-presentation" src="../static/img/testimonial-2.jpeg" alt style="height: 200px">
                    <div class="ml-3">
                        <h4>Brian Aguinsaca</h4>
                        <i>Analista</i><br>
                        <a href="https://github.com/BrianFernandoAguinsacaLoarte" target="_blank">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                </div>
                <p class="m-0">Analista dedicado, experto en datos y tendencias, transformando información en
                    estrategias
                    valiosas para el proyecto. Aporta precisión y claridad en la interpretación de resultados para la
                    toma de decisiones.</p>
                <ion-icon name="mail-sharp"></ion-icon> <i><p><u>brian.aguinsaca@unl.edu.ec</u></p></i>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-presentation" src="../static/img/testimonial-3.jpeg" alt style="height: 200px">
                    <div class="ml-3">
                        <h4>Abel Mora</h4>
                        <i>Desarrollador de software - Analista</i><br>
                        <a href="https://github.com/Abel214" target="_blank">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                </div>
                <p class="m-0">Desarrollador de software y analista, especializado en crear soluciones tecnológicas y
                    analizar datos. Transforma requerimientos en aplicaciones eficientes y proporciona insights valiosos
                    para
                    la toma de decisiones, mejorando continuamente la calidad del proyecto.</p>
                <ion-icon name="mail-sharp"></ion-icon> <i><p><u>abel.mora@unl.edu.ec</u></p></i>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-presentation" src="../static/img/testimonial-4.jpeg" alt style="height: 200px">
                    <div class="ml-3">
                        <h4>Santiago Guachizaca </h4>
                        <i>Desarrollador de software - Gestor Base de Datos</i><br>
                        <a href="https://github.com/santigt11" target="_blank">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                </div>
                <p class="m-0">Desarrollador de software y gestor de base de datos, experto en construir aplicaciones
                    robustas y manejar bases de datos eficientemente. Garantiza la integridad y accesibilidad de la
                    información, optimizando el
                    rendimiento del sistema y la experiencia del usuario.</p>
                <ion-icon name="mail-sharp"></ion-icon> <i><p><u>santiago.r.guachizaca@unl.edu.ec</u></p></i>
            </div>
            <div class="testimonial-item">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-presentation" src="../static/img/testimonial-5.jpeg" alt style="height: 200px">
                    <div class="ml-3">
                        <h4>Estefanía Torres </h4>
                        <i>Analista - Diseñadora de interfaces</i><br>
                        <a href="https://github.com/Estefania12-torres" target="_blank">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                </div>
                <p class="m-0">Analista y diseñadora de interfaces, fusiona el análisis de datos con el diseño visual.
                    Convierte información compleja en interfaces de usuario intuitivas y
                    atractivas, mejorando la funcionalidad y experiencia del usuario</p>
                <ion-icon name="mail-sharp"></ion-icon> <i><p><u>estefania.torres@unl.edu.ec</u></p></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pb-5">
                <iframe style="width: 200%; height: 443px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1989.9699856550426!2d-79.199997!3d-4.032672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb3829e38dc83f%3A0x3a7346c462259a8b!2sFacultad%20de%20la%20Energ%C3%ADa%20Las%20Industrias%20y%20los%20Recursos%20Naturales%20no%20Renovables!5e0!3m2!1ses-419!2sec!4v1720044101917!5m2!1ses-419!2sec"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}
