{% extends "base.html" %}
{% block navbar %}
<a href="/administrar" class="nav-item nav-link"> <ion-icon name="arrow-back-circle-sharp"></ion-icon> </a>
{% endblock %}


{% block title %}Administrar{% endblock %}

{% block titulo %}Gestión de Usuarios{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1 class="mt-5">Modificar Usuarios</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Administrador</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id_Usuario }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.clave }}</td>
                    <td>{{ 'Sí' if usuario.isAdmin else 'No' }}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal"
                            data-target="#editarUsuarioModal{{ usuario.id_Usuario }}">Editar</button>
                    </td>
                </tr>

                <!-- Modal para editar usuario -->
                <div class="modal fade" id="editarUsuarioModal{{ usuario.id_Usuario }}" tabindex="-1" role="dialog"
                    aria-labelledby="editarUsuarioModalLabel{{ usuario.id_Usuario }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarUsuarioModalLabel{{ usuario.id_Usuario }}">Modificar
                                    Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ url_for('actualizarUsuario') }}" method="post">
                                <div class="modal-body">
                                    <input type="hidden" name="id_usuario" value="{{ usuario.id_Usuario }}">
                                    <div class="form-group">
                                        <label for="correo">Correo</label>
                                        <input type="email" class="form-control" name="correo"
                                            value="{{ usuario.correo }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="clave">Contraseña</label>
                                        <input type="text" class="form-control" name="clave" value="{{ usuario.clave }}"
                                            required>
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="isAdmin"
                                            id="isAdmin{{ usuario.id_Usuario }}" {% if usuario.isAdmin %}checked{%
                                            endif %}>
                                        <label class="form-check-label" for="isAdmin{{ usuario.id_Usuario }}">Es
                                            Administrador</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}